<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/contract">
      <span >Contract Manager</span>
    </button>

    <button mat-menu-item routerLink="/manage">
      <span >Manage</span>
    </button>
  </mat-menu>

  <span class="example-spacer"></span>
  <span  >Contract Manager</span>
  <mat-icon style="margin-left: 8px;">file_copy</mat-icon>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog()">Add Contract</button>
</mat-toolbar>


 
  <!-- <select class="select">
    <option value="1">Project</option>
    <option value="2">Status</option>
    <option value="3">Manager</option>
  </select> -->

<div class="container">
  <div style="margin-top: 10px;">
    <mat-form-field class="field" appearance="outline">
      <mat-label >Sort By</mat-label>
      <mat-select  disableRipple  >
        <mat-option  value="1">Contract</mat-option>
        <mat-option value="2">Status</mat-option>
        <mat-option value="3">Project</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="contractName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Contract Name </th>
          <td mat-cell *matCellDef="let row"> {{row.contractName}} </td>
        </ng-container>
    
        <!-- projectName Column -->
        <ng-container matColumnDef="projectName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Project </th>
          <td mat-cell *matCellDef="let row"> {{row.projectName}} </td>
        </ng-container>
    
        <!-- managerName Column -->
        <ng-container matColumnDef="managerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Manager </th>
          <td mat-cell *matCellDef="let row"> {{row.managerName}} </td>
        </ng-container>
    
        <!-- startDate Column -->
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
          <td mat-cell *matCellDef="let row"> {{row.startDate | date }} </td>
        </ng-container>

        <!-- endDate Column -->
        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
          <td mat-cell *matCellDef="let row"> {{row.endDate | date}} </td>
        </ng-container>

        <!-- resources Column -->
        <ng-container matColumnDef="resources">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Resources </th>
          <td mat-cell *matCellDef="let row"> {{row.resources}} </td>
        </ng-container>

        <!-- status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let row"> {{row.status}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="editContract(row)">
              <mat-icon>edit</mat-icon>
            </button> 

            <button mat-stroked-button color="primary">Renew
            </button>  
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>
    </div>
    
    
  </div>
</div>
  
  
  
  
